<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/login.css">
    <script>
        // Prevent the back button navigation
        window.onload = function () {
            history.pushState(null, null, location.href);

            window.onpopstate = function (event) {
                window.location.href = '/'; // Change this to your desired internal page
            };

            window.onbeforeunload = function (event) {
                window.location.href = '/'; // Change this to your desired internal page
            };
        };


        // window.onload = function() {
        // if (window.history && window.history.pushState) {
        //     window.history.pushState('forward', null, null);
        //      window.history.pushState('backward', null, null);
        //     window.onpopstate = function(event) {
        //         window.history.go(1);
        //     };
        // } {{!-- }; --}}
    </script>
</head>
<body>

    <h1>Login Form</h1>

    <form action="/login" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    </form>


    
</body>
</html>
